<div class="container main-container">
  <h1>Lista Produtos</h1>

  <produto-count [produtos]="produtos"></produto-count>

  <div class="row text-center">
    <produto-card-detalhe
      class="col-md-4"
      style="padding-bottom: 30px;"
      *ngFor="let produto of produtos"
      [produto]="produto"
      (status)="mudarStatus($event)"
    >
      <h6 class="acabou">Ou vá até uma de nossas lojas</h6>
      <h6 class="corre">Corre que vai acabar</h6>
    </produto-card-detalhe>
  </div>
</div>
